.BgBanner{
    @apply bg-red-400 h-[22rem] relative z-10 bg-[100%] bg-cover
    after:content-[''] 
    after:absolute 
    after:top-0
    after:bottom-0
    after:left-0
    after:right-0
    after:bg-black
    after:bg-opacity-70
    after:-z-10
}
.BannerTitleBg{
    @apply px-10 flex absolute -bottom-14 left-36 right-36 bg-white h-28 items-center justify-center
    after:content-[""]
    after:absolute
    after:-right-[60px]
    after:top-0
    after:w-0
    after:h-0
    after:border-r-[60px]
    after:border-b-[56px]
    after:border-r-transparent
    after:border-b-white

    before:content-[""]
    before:absolute
    before:-left-[60px]
    before:top-0
    before:w-0
    before:h-0
    before:border-l-[60px]
    before:border-b-[56px]
    before:border-l-transparent
    before:border-b-white
}
.BannerTitle{
    @apply text-gray-950 drop-shadow-lg text-5xl uppercase font-theame tracking-wide
}